body {
  font-family: Helvetica, Arial, sans-serif;
}

body, html, #__next, #__next > div, .container, .row {
  height: 100%;
}

.container-fluid {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
}

a {
  color: #009167;
  text-decoration: none;
}

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.subtitle {
  font-family: 'Nunito';
  font-size: 16px;
  color: #999;
}

hr {
  height: 1px;
  background: #EEE;
  margin: 20px 0;
  width: 100%;
  border: 0;
}

button {
  padding: 10px 15px;
  background: #FFF;
  border: 1px solid #EEE;
  border-radius: 3px;
  cursor: pointer;
}
